
body{
    background: rgb(184, 253, 184);
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centrar{
    text-align: center;
}
.main{
    display: flex;
}
.tablas{
    margin-left: 170px;
    margin-top: 50px;
}

.alineartexto{
    margin-left: 20px;
    width: 800px;
    text-align:justify;
}

.video{
    margin-left: 55px;
    margin-top: 370px;

}

.imagen{
    margin-left: 105px;
    position: absolute;
}
.imagen2{
    margin-left: 25px;
    position: absolute;
}

.divfoot{
    background: rgb(155, 243, 155);
    color: #000000;
    padding: 20px;
    text-align: center;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.fotofoot{
    width: 30px;
    margin-left: 10px;
}