a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
th{
    border: 1px solid black;
}
tr{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
.barra{
    background: rgb(155, 243, 155);
    padding-left: 30px;
    padding-bottom: 12px;
}
.barra3:hover{
    text-shadow: 4px 4px rgba(24, 148, 34, 0.2);
}
.barra2:hover{
    text-shadow: 4px 4px rgba(24, 148, 34, 0.2);
}
.barra2{
    margin-left: 25px;
    font-size: 1.4em;
}
.barra3{
    font-size: 2.5em;
}


