body{
    background-color: rgba(0, 109, 0, 0.733);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.tablero_header{
    margin: none;
    padding: none;
    font-size: 40px;
    height: 90px;
    background-color: darkgreen;

}
.nav{
    height: 50px;
    float: 1fr 1fr;
    background-color: olive;
}
.foto{
    float: left;
}
form{
    width: 470px;
    background-color: rgba(15, 133, 15, 0.651);
    margin: 18px;
    padding: 20px;
    text-wrap:balance;
}
.fieldset{
    margin: 25px;
    padding: 20px;
    width: 365px;
    color: black;
    border-color:green ;
    border-width: 8px;
}
.bt_enviar{
    margin-left: 200px;
    background-color: rgb(26, 109, 5);
}

fieldset label, fieldset input, fieldset textarea, fieldset select{
    margin: 8px 0;
}