body{
    background-color: forestgreen;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.tablero_header{
    margin: none;
    padding: none;
    font-size: 40px;
    height: 90px;
    background-color: darkgreen;

}
.nav{
    height: 50px;
    float: 1fr 1fr;
    background-color: olive;
}
.foto{
    float: left;
}
.form{
    height: 520px;
    width: 470px;
    background-color: rgb(15, 133, 15);
    margin: 10px;
    padding: 10px;
    text-wrap:balance;
}
.fieldset{
    margin: 20px;
    padding: 20px;
    height: 400px;
    width: 380px;
    color: black;
}
