body{
    background: rgb(151, 247, 151);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.tablero_header{
    margin: none;
    padding: none;
    font-size: 40px;
    height: 90px;
    background-color: rgb(133, 201, 133);

}
.nav{
    height: 50px;
    float: 1fr 1fr;
    background-color: olive;
}
.foto{
    float: left;
}
form{
    align-items: center;
    width: 470px;
    background-color: rgb(151, 247, 151);
    margin: 18px;
    padding: 20px;
    text-wrap:balance;
}
.fieldset{
    margin: 25px;
    padding: 20px;
    width: 365px;
    color: black;
    border-color:green ;
    border-width: 8px;
}
.bt_enviar{
    margin-left: 200px;
    background-color: rgb(26, 109, 5);
}

fieldset label, fieldset input, fieldset textarea, fieldset select{
    margin: 8px 0;
}
.izquierda{
    float: left;
    display: grid;
    margin-left: 150px;
    margin-right: 60px;

}
.derecha{
    float: right;
    display: grid;
}
.mmain{
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.main-index{
    text-align: center;
    margin-top: 50px;
}
.main-otros{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}
aside{
    align-content: center;
}
.a:hover{
    text-shadow: 4px 4px rgba(4, 58, 9, 0.356);
}
footer{
    height: 200px;
    background-color:  rgb(118, 241, 118) ;
}
.division_d{
    float: left;
    display: grid;
    height: 600px;
}
.division_iz{
    float: right;
    display: grid;
    height: 150px;
}
.div{
    display: flex;
    width: 600px;
    height: 800px;
}